<% layout('layouts/boilerplate') -%>


<div class="row ">
    <div class="col-md-6 mx-auto">
      <form action="/products/<%=product._id%>?_method=PATCH" method="POST">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Product name</label>
          <input type="text" class="form-control" id="name" placeholder="name" name="name" value="<%=product.name%>">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Image-URL</label>
          <input type="text" class="form-control" id="img" placeholder="Product image url" name="img" value="<%=product.img%>">
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="number" name="price" class="form-control" placeholder="price" aria-label="Username"
              aria-describedby="basic-addon1" value="<%=product.price%>">
          </div>
        </div>
        <div class="mb-3">
          <label for="desc" class="form-control">Description</label>
          <textarea class="form-control" id="desc" name="desc" rows="5">  <%= product.desc %> </textarea>
        </div>
        <!-- <a href="/products/<%=product._id%>" class="btn btn-sm btn-success">Save</a> -->
        <button class="btn btn-sm btn-success">Save</button>

      </form>

    </div>

  </div>